@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
    background-color: #f6f6f6;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.outer-wrapper {
    margin: 0 20px auto 20px;
}

.logo {
    width: 187px;
    height: 170px;
}
.header_contacts {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.social-network-1 {
    width: 50px;
    height: 50px;
}

.social-network-2 {
    width: 90px;
    height: 50px;
}

.social-networks {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 100;
    margin-left: 30px;
}

.header_contacts_contact-info {
    position: relative;
    display: flex;
    z-index: 10;
}

.image-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("Images/repair.jpg");
    opacity: 0.1;
    z-index: 0;
}

.header-item {
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.outer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.header-menu {
    display: flex;
    align-items: center;
}

.contact-style {
    font-weight: 600;
}

.days {
    font-weight: 600;
}

.contact-style {
    margin-top: 17px;
}

.image-style {
    display: flex;
    align-items: center;
    z-index: 100;
    margin-left: 50px;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.nav-item {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 27px;
}

.header_nav-menu {
    display: flex;

    margin-top: 30px;
}

.phone {
    text-decoration: none;
}

.main-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.about {
    margin-top: 50px;
}

.item-margin {
    margin-left: 40px;
}

.desc {
    font-weight: 300;
    line-height: 1.3;
    font-size: 25px;
}

.list-repair:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 30px;
    background-image: url("Images/car_repair.svg");
    margin: 0 10px 0 10px;
    background-size: contain;
}

.quality-desc {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quality-text-1 {
    font-size: 30px;
    font-weight: 500;
}

.quality-text-2 {
    font-size: 25px;
    font-weight: 500;
}

.quality-text-3 {
    font-size: 20px;
    font-weight: 500;
}

.list-repair-flex {
    display: flex;
    justify-content: space-evenly;
}

.list-repair-flex-1 {
    display: flex;
    flex-direction: column;
}

.list-repair-flex-2 {
    display: flex;
    flex-direction: column;
}

.item-margin-list {
    margin-bottom: 50px;
}

.list-repair {
    font-size: 40px;
}

.quality-margin {
    margin-bottom: 40px;
}

.header {
    font-size: 40px;
}

.quality-desc-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #f3ad53;
}

.quality-desc-2 {
    display: flex;
    align-items: center;
    background-color: #e56998;
}

.car-service-icon {
    width: 200px;
    height: 200px;
}

.repair-text-2 {
    font-size: 40px;
    text-align: center;
    text-align: center;
}